# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode/settings.json
.swp
.vscode/launch.json
.vscode/tasks.json
c++_examples/output_cpp
/build
/c_examples/producer_consumer/build
.DS_Store
/c_examples/client_server/build
c_examples/client_server/src/temp.c
c_examples/client_server/src/temp2.c
.DS_Store
